body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'NHaasGroteskDSPro-65Md' !important;
  }
  code{
    font-family: 'Poppins', sans-serif;
  }
  #carousel{
    max-height: 500px;
  }